.card {
    border: 1px solid black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.title {
    border: 1px solid black;
}

.content {
    padding: 5px;
}